* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 70%;
    margin: auto;
    margin-top: 70px;
}

.container .max-heigth {
    font-family: Segoe UI Light;
}

.container .paragraph {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.maindiv .mr {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(99, 250, 250);
    text-align: center;
    color: white;
    height: 60px;
    padding-top: 20px;
}

@media (min-width:500px) {
    .maindiv .mr {
        display: none;
    }
}

.container .second {
    /* background-color: yellow; */
    width: 600px;
    display: inline-block;
    float: right;
}

.spancolor {
    color: rgb(99, 250, 250);
}

.container .first {
    /* background-color: red; */
    height: 400px;
    width: 245px;
    display: inline-block;
    float: left;
    font-family: Segoe UI Light;
    border: rgb(109, 109, 109);
    border-radius: 10px;
}

.container .second {
    /* background-color: yellow; */
    width: 70%;
    height: 400px;
    display: inline-block;
    float: right;
}

.container .first img {
    height: 249px;
    border-radius: 500px;
}

.container .first h2 {
    margin-top: 20px;
    text-align: center;
}

.container .seconddiv {
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.container .seconddiv h2 {
    margin-bottom: 10px;
}

.container .imgx img {
    width: 100%;
    height: 200px;
}

.container .footer {
    font-family: Segoe UI Light;
}

.footer li {
    list-style: none;
}

.footer .footerdiv01 {
    /* background-color: red; */
    width: 200px;
    display: inline-block;
    float: right;
    margin: 40px;
}

.footer .footerdiv02 {
    /* background-color: yellow; */
    width: 200px;
    display: inline-block;
    float: right;
    margin: 40px;
}

.footer li {
    margin-top: 10px;
}

.footer li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer li a:hover {
    border-bottom: 2px solid black;
}

.container .ulx img {
    height: 180px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.container .ulx .lix1 {
    /* background-color: red; */
    display: inline-block;
}

.container .ulx .lix2 {
    display: inline-block;
    /* background-color: yellow; */
}

.container .ulx .lix3 {
    display: inline-block;
    /* background-color: rgb(38, 177, 84); */
}

.divxx {
    height: 30px;
}

.socialmedia {
    height: 300px;
    color: white;
    width: 100%;
    /* background-color: rebeccapurple; */
    font-family: 'Chivo Mono', monospace;
}

.socialdiv01 {
    /* background-color: yellow; */
    height: 100%;
    width: 48%;
    float: left;
}

.socialdiv02 {
    /* background-color: rgb(28, 28, 21); */
    height: 100%;
    width: 48%;
    float: right;
}

.socialmedia .lix {
    list-style: none;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.socialmedia a {
    text-decoration: none;
    color: white;
    /* text-align: center; */
    /* background-color: red; */
}

.education {
    /* background-color: red; */
    height: 230px;
    width: 100%;
    /* margin-bottom: 50px; */
    font-family: 'Chivo Mono', monospace;
}

.bca {
    height: 100%;
    width: 33.33%;
    /* background-color: yellow; */
    float: left;
    padding: 20px;
}

.hsc {
    height: 100%;
    width: 33.33%;
    /* background-color: blue; */
    float: right;
    padding: 20px;
}

.ssc {
    height: 100%;
    width: 33.33%;
    /* background-color: aquamarine; */
    float: right;
    padding: 20px;
}

.education span {
    font-weight: bold;
}

.education h3 {
    font-size: 16px;
    font-weight: 300;
    color: white;
    background-color: black;
    border: 2px solid black;
    padding: 3px;
    margin-bottom: 20px;
}

.education p {
    margin-top: 10px;
}

.education .border {
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.container .education h1 {
    background-color: rgb(0, 0, 0);
    margin: 20px 0px;
    color: white;
    text-align: center;
    padding: 10px;
    /* border-radius: 100px; */
}

.container .education {
    margin-bottom: 100px;
}

.socialMedia {
    /* background-color: yellow; */
    padding-top: 300px;
}

.socialMedia .SM img {
    /* background-color: red; */
    height: 40px;
}

.instagram {
    /* background-color: darkblue; */
    height: auto;
    width: 90px;
    float: right;
}

.linkedin {
    height: auto;
    width: 90px;
    float: right;
}

.facebook {
    height: auto;
    width: 90px;
    float: right;
}

.twitter {
    height: auto;
    width: 90px;
    float: right;
}

.github {
    height: auto;
    width: 90px;
    float: right;
}

.whatsapp {
    /* background-color: saddlebrown; */
    height: auto;
    width: 90px;
    float: right;
}

.telegram {
    /* background-color: rebeccapurple; */
    height: auto;
    width: 90px;
    float: right;
}

.snapchat {
    /* background-color: yellow; */
    height: auto;
    width: 90px;
    float: right;
}

.youtube {
    /* background-color: yellow; */
    height: auto;
    width: 90px;
    float: right;
}

@media (max-width:500px) {
    .container {
        max-width: 1200px;
        width: 80%;
        margin: auto;
        margin-top: 70px;
    }
    .container .first {
        /* background-color: red; */
        height: 300px;
        width: 100%;
        display: inline-block;
        float: left;
        font-family: Segoe UI Light;
        border: rgb(109, 109, 109);
        border-radius: 10px;
        /* margin-left: 20px; */
        text-align: center;
    }
    .container .second {
        width: 100%;
    }
    .container .first h2 {
        display: none;
    }
    .container .imgx img {
        height: 100px;
    }
    .container .imgx img {
        width: 100%;
        height: 200px;
        margin-top: 20px;
    }
    .socialMedia {
        /* background-color: yellow; */
        padding-top: 750px;
        height: 900px;
    }
    .socialMedia .SM img {
        /* background-color: red; */
        height: 40px;
    }
    .instagram {
        /* background-color: darkblue; */
        height: auto;
        width: 50px;
        float: left;
    }
    .linkedin {
        height: auto;
        width: 50px;
        float: left;
        margin-left: 20px;
    }
    .facebook {
        height: auto;
        width: 50px;
        float: left;
    }
    .twitter {
        height: auto;
        width: 50px;
        float: left;
    }
    .github {
        height: auto;
        width: 50px;
        float: left;
    }
    .whatsapp {
        /* background-color: saddlebrown; */
        display: none;
        height: auto;
        width: 50px;
        float: left;
    }
    .telegram {
        /* background-color: rebeccapurple; */
        display: none;
        height: auto;
        width: 50px;
        float: left;
    }
    .snapchat {
        /* background-color: yellow; */
        height: auto;
        width: 50px;
        float: left;
    }
    .youtube {
        /* background-color: yellow; */
        height: auto;
        width: 50px;
        float: left;
    }
}